@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300,700|Lora:400,700&subset=latin,cyrillic)
@import breakpoint.sass

=placeholder
   &::-webkit-input-placeholder
      @content
   &::-moz-placeholder
      @content
   &:-moz-placeholder
      @content
   &:-ms-input-placeholder
      @content

//fonts
$primary: #fff
$secondary: #313131
$dblue: #2b5264
//background
$color: #11acf6
$alt: #ffcc00

.btn
   height: 35px
   margin-bottom: 15px
   transition: all .3s linear
   text-align: center
   text-transform: uppercase
   color: $primary
   border: 1px solid #fff
   border-radius: 5px
   background-color: transparent
   font-size: 13px
   line-height: 22px
   &:hover
      color: $secondary
      border: 1px solid transparent
      background-color: $alt


body
   color: $secondary
   font-family: Roboto
   font-weight: 400

   -webkit-font-smoothing: antialiased
   -webkit-text-size-adjust: 100%
   h2
      text-transform: uppercase
   .diamond
      position: relative
      text-align: center
      letter-spacing: .8px
      color: $dblue
      font-size: 20px
      font-weight: 700
      &:before
         position: absolute
         right: 0
         bottom: -4px
         left: 0
         width: 60px
         height: 60px
         margin: auto
         content: ""
         transform: rotate(226deg)
         border-right: 1px solid $alt
         border-bottom: 1px solid $alt
      &:after
         position: absolute
         top: -4px
         right: 0
         left: 0
         width: 60px
         height: 60px
         margin: auto
         content: ""
         transform: rotate(46deg)
         border-right: 1px solid $alt
         border-bottom: 1px solid $alt
   .bxsh
      box-shadow: 0 0 10px #d4d4d4


.navbar
   position: absolute
   z-index: 10
   width: 100%
   margin-bottom: 0
   border: initial
   border-radius: initial

   .navbar-brand
      display: inline-block
      width: 58px
      height: 93px
      margin-top: 15px
      margin-left: 0!important
      background-image: url("../images/logo.png")
      background-repeat: no-repeat
      background-size: 100%
   .navbar-collapse
      margin-top: 29px
   .nav
      li
         a
            padding: 10px 15px 10px 15px
            transition: .3s
            color: $primary
            font-size: 16px
            &.login
               position: relative
               padding-right: 46px
               font-style: italic
               &:after
                  display: inline-block
                  width: 22px
                  height: 26px
                  margin-top: -2px
                  margin-left: 8px
                  content: ""
                  vertical-align: middle
                  background-image: url(../images/log-in.png)
                  background-repeat: no-repeat
                  background-size: 100%
            &:focus
               outline: none
               background-color: initial

            &.lang
               margin: 8px 14px 0 0
               padding: 0 2px 2px 3px
               border: 1px solid
   .aside-nav
      float: right
      a
         &:hover
            background-color: initial
   .main-nav
      margin-left: 46px
      li
         padding-right: 9px
         a
            position: relative
            font-weight: 100
            &:after
               position: absolute
               top: 100%
               content: ""
               transition: all .5s linear
               border-bottom: 2px solid transparent
            &:hover
               background-color: initial
               &:after
                  position: absolute
                  top: 31px
                  left: 15px
                  width: 20px
                  height: 2px
                  content: ""
                  background-color: $alt
            &.active
               position: relative
               font-weight: 500
               &:after
                  position: absolute
                  top: 31px
                  left: 15px
                  width: 20px
                  height: 2px
                  content: ""
                  background-color: $alt
         &:last-child
            padding-right: initial


#topBlock
   position: relative
   z-index: 9
   height: 660px
   padding-top: 230px
   color: $primary
   background-image: url("../images/bcg.jpg")
   background-repeat: no-repeat
   background-attachment: fixed

   h1
      margin-top: 40px
      letter-spacing: -1px
      text-transform: uppercase
      font-family: Lora
      font-size: 34px
      font-weight: 500
   h2
      width: 500px
      margin-top: 18px
      text-transform: initial
      font-size: 18px
      font-weight: 100
      line-height: 23px
   .btn
      display: inline-block
      width: 142px
      margin-top: 22px
      margin-right: 15px


#overview
   padding: 0 0 30px 0
   background-color: #fafafa
   h2
      margin-top: 71px
   .col-about
      margin-top: 30px

   .colWrapper
      position: relative
      margin-top: 69px
      font-size: 0
      .col5
         display: inline-block
         width: 20%
         padding-right: 15px
         padding-left: 15px
         &:first-child
            padding-left: 0
         &:last-child
            padding-right: 0
      .col5Wrapper
         height: 100px
         background-color: $primary
         .iconWrapper
            position: relative
            display: inline-block
            width: 80px
            vertical-align: top
            &:after
               position: absolute
               top: 4px
               right: 0
               width: 1px
               height: 90%
               content: ""
               background-color: #a2a2a2
            .icon
               display: block
               width: 60px
               height: 60px
               margin-top: 20px
               margin-bottom: 18px
               margin-left: 10px
               vertical-align: middle
               background-repeat: no-repeat
               background-size: contain
               &.icon1
                  background-image: url("../images/icon1.png")
               &.icon2
                  background-image: url("../images/icon2.png")
               &.icon3
                  background-image: url("../images/icon3.png")
               &.icon4
                  background-image: url("../images/icon4.png")
               &.icon5
                  background-image: url("../images/icon5.png")
         .infoWrapper
            position: relative
            display: inline-block
            padding-left: 10px
            vertical-align: top
            h3
               margin-top: 13px
               margin-bottom: 5px
               color: $dblue
               font-size: 28px
               font-weight: 700
            p
               color: #808080
               font-size: 16px
               line-height: 20px

   .aboutWrapper
      padding: 40px 40px 28px 40px
      background-color: $primary
      h3
         margin: 9px 0 19px 0
         font-size: 20px
         font-weight: 700
      p
         padding-bottom: 10px
         line-height: 23px
      .btn
         margin-top: 7px
         color: $secondary
         background-color: $alt
         &:hover
            background-color: darken( $alt, 2% )

   .subscribe
      margin-top: 30px
      padding-bottom: 52px
      background-image: url(../images/subscribe.jpg)
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      p
         padding-top: 45px
         text-align: center
         color: #8a8c8e
         font-size: 18px
         font-style: italic
      form
         margin-top: 28px
         text-align: center
         input
            width: 240px
            height: 30px
            margin-right: -2px
            padding-left: 10px
            vertical-align: middle
            border: initial
            box-shadow: 0 0 10px #ccc
         button
            height: 36px
            padding: 0 10px
            transition: .4s ease
            vertical-align: middle
            text-transform: uppercase
            border: initial
            background-color: $alt
            font-size: 14px
            font-weight: 400
            &:hover
               background-color: darken( $alt, 2% )

   .fourBlock
      margin-top: 30px
      .mainWrapp
         height: 250px
         margin-bottom: 30px
         background-color: #fff
      .icon
         display: inline-block
         width: 95px
         height: 90px
         margin-left: 37px
         vertical-align: middle
         background-repeat: no-repeat
         background-position: center
         background-size: contain
         &.icon6
            background-image: url("../images/icon6.png")
         &.icon7
            background-image: url("../images/icon7.png")
         &.icon8
            background-image: url("../images/icon8.png")
         &.icon9
            background-image: url("../images/icon9.png")
      .wrapper
         display: inline-block
         width: 75%
         padding-left: 26px
         vertical-align: middle
         h2
            margin-top: 35px
            text-transform: initial
            font-size: 20px
         p
            margin-top: 26px
            line-height: 22px
         .arrow
            display: block
            width: 40px
            height: 40px
            margin-top: 18px
            transition: .4s ease
            background-image: url("../images/arrow.png")
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            &:hover
               border-radius: 40px
               box-shadow: 0 0 5px lighten( $alt, 5% )

footer
   padding-top: 53px
   color: $primary
   background-color: #172d37
   ul
      padding-left: 0
   li
      list-style-type: none
      a
         color: $primary
   .nav-bottom
      padding-left: 4px
      font-size: 16px
      li
         padding-bottom: 4px
   .soc
      display: inline-block
      width: 26px
      height: 26px
      margin-top: 6px
      margin-bottom: 6px
      padding-left: 35px
      vertical-align: middle
      background-repeat: no-repeat
      background-size: contain
      &.gplus
         background-image: url("../images/soc-gplus.png")
      &.telegram
         background-image: url("../images/soc-telegram.png")
      &.in
         background-image: url("../images/soc-in.png")
      &.fb
         background-image: url("../images/soc-fb.png")
   .email
      float: right
      padding-left: 23px
      .logo-bottom
         display: inline-block
         width: 32px
         height: 39px
         margin-top: 7px
         margin-right: 22px
         vertical-align: middle
         background-image: url("../images/logo-footer.png")
         background-repeat: no-repeat
   .subs
      margin-top: 24px
      line-height: 18px
   #newsletter
      width: 300px
      height: 36px
      input
         width: 80%
         height: 100%
         padding-left: 15px
         vertical-align: bottom
         border: none

         +placeholder
            color: #989898
         &:focus
            +placeholder
               color: transparent
      button
         width: 12%
         height: 100%
         margin-left: -3px
         padding: 0
         cursor: pointer
         vertical-align: middle
         border: none
         outline: none
         background-image: url("../images/arrow-footer.png")
         background-repeat: no-repeat
         background-position: center
         background-size: 100%