@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300,700|Lora:400,700&subset=latin,cyrillic);
.btn {
  height: 35px;
  margin-bottom: 15px;
  transition: all 0.3s linear;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  font-size: 13px;
  line-height: 22px; }
  .btn:hover {
    color: #313131;
    border: 1px solid transparent;
    background-color: #ffcc00; }

body {
  color: #313131;
  font-family: Roboto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }
  body h2 {
    text-transform: uppercase; }
  body .diamond {
    position: relative;
    text-align: center;
    letter-spacing: 0.8px;
    color: #2b5264;
    font-size: 20px;
    font-weight: 700; }
    body .diamond:before {
      position: absolute;
      right: 0;
      bottom: -4px;
      left: 0;
      width: 60px;
      height: 60px;
      margin: auto;
      content: "";
      transform: rotate(226deg);
      border-right: 1px solid #ffcc00;
      border-bottom: 1px solid #ffcc00; }
    body .diamond:after {
      position: absolute;
      top: -4px;
      right: 0;
      left: 0;
      width: 60px;
      height: 60px;
      margin: auto;
      content: "";
      transform: rotate(46deg);
      border-right: 1px solid #ffcc00;
      border-bottom: 1px solid #ffcc00; }
  body .bxsh {
    box-shadow: 0 0 10px #d4d4d4; }

.navbar {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-bottom: 0;
  border: initial;
  border-radius: initial; }
  .navbar .navbar-brand {
    display: inline-block;
    width: 58px;
    height: 93px;
    margin-top: 15px;
    margin-left: 0 !important;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 100%; }
  .navbar .navbar-collapse {
    margin-top: 29px; }
  .navbar .nav li a {
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    color: #fff;
    font-size: 16px; }
    .navbar .nav li a.login {
      position: relative;
      padding-right: 46px;
      font-style: italic; }
      .navbar .nav li a.login:after {
        display: inline-block;
        width: 22px;
        height: 26px;
        margin-top: -2px;
        margin-left: 8px;
        content: "";
        vertical-align: middle;
        background-image: url(../images/log-in.png);
        background-repeat: no-repeat;
        background-size: 100%; }
    .navbar .nav li a:focus {
      outline: none;
      background-color: initial; }
    .navbar .nav li a.lang {
      margin: 8px 14px 0 0;
      padding: 0 2px 2px 3px;
      border: 1px solid; }
  .navbar .aside-nav {
    float: right; }
    .navbar .aside-nav a:hover {
      background-color: initial; }
  .navbar .main-nav {
    margin-left: 46px; }
    .navbar .main-nav li {
      padding-right: 9px; }
      .navbar .main-nav li a {
        position: relative;
        font-weight: 100; }
        .navbar .main-nav li a:after {
          position: absolute;
          top: 100%;
          content: "";
          transition: all 0.5s linear;
          border-bottom: 2px solid transparent; }
        .navbar .main-nav li a:hover {
          background-color: initial; }
          .navbar .main-nav li a:hover:after {
            position: absolute;
            top: 31px;
            left: 15px;
            width: 20px;
            height: 2px;
            content: "";
            background-color: #ffcc00; }
        .navbar .main-nav li a.active {
          position: relative;
          font-weight: 500; }
          .navbar .main-nav li a.active:after {
            position: absolute;
            top: 31px;
            left: 15px;
            width: 20px;
            height: 2px;
            content: "";
            background-color: #ffcc00; }
      .navbar .main-nav li:last-child {
        padding-right: initial; }

#topBlock {
  position: relative;
  z-index: 9;
  height: 660px;
  padding-top: 230px;
  color: #fff;
  background-image: url("../images/bcg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; }
  #topBlock h1 {
    margin-top: 40px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: Lora;
    font-size: 34px;
    font-weight: 500; }
  #topBlock h2 {
    width: 500px;
    margin-top: 18px;
    text-transform: initial;
    font-size: 18px;
    font-weight: 100;
    line-height: 23px; }
  #topBlock .btn {
    display: inline-block;
    width: 142px;
    margin-top: 22px;
    margin-right: 15px; }

#overview {
  padding: 0 0 30px 0;
  background-color: #fafafa; }
  #overview h2 {
    margin-top: 71px; }
  #overview .col-about {
    margin-top: 30px; }
  #overview .colWrapper {
    position: relative;
    margin-top: 69px;
    font-size: 0; }
    #overview .colWrapper .col5 {
      display: inline-block;
      width: 20%;
      padding-right: 15px;
      padding-left: 15px; }
      #overview .colWrapper .col5:first-child {
        padding-left: 0; }
      #overview .colWrapper .col5:last-child {
        padding-right: 0; }
    #overview .colWrapper .col5Wrapper {
      height: 100px;
      background-color: #fff; }
      #overview .colWrapper .col5Wrapper .iconWrapper {
        position: relative;
        display: inline-block;
        width: 80px;
        vertical-align: top; }
        #overview .colWrapper .col5Wrapper .iconWrapper:after {
          position: absolute;
          top: 4px;
          right: 0;
          width: 1px;
          height: 90%;
          content: "";
          background-color: #a2a2a2; }
        #overview .colWrapper .col5Wrapper .iconWrapper .icon {
          display: block;
          width: 60px;
          height: 60px;
          margin-top: 20px;
          margin-bottom: 18px;
          margin-left: 10px;
          vertical-align: middle;
          background-repeat: no-repeat;
          background-size: contain; }
          #overview .colWrapper .col5Wrapper .iconWrapper .icon.icon1 {
            background-image: url("../images/icon1.png"); }
          #overview .colWrapper .col5Wrapper .iconWrapper .icon.icon2 {
            background-image: url("../images/icon2.png"); }
          #overview .colWrapper .col5Wrapper .iconWrapper .icon.icon3 {
            background-image: url("../images/icon3.png"); }
          #overview .colWrapper .col5Wrapper .iconWrapper .icon.icon4 {
            background-image: url("../images/icon4.png"); }
          #overview .colWrapper .col5Wrapper .iconWrapper .icon.icon5 {
            background-image: url("../images/icon5.png"); }
      #overview .colWrapper .col5Wrapper .infoWrapper {
        position: relative;
        display: inline-block;
        padding-left: 10px;
        vertical-align: top; }
        #overview .colWrapper .col5Wrapper .infoWrapper h3 {
          margin-top: 13px;
          margin-bottom: 5px;
          color: #2b5264;
          font-size: 28px;
          font-weight: 700; }
        #overview .colWrapper .col5Wrapper .infoWrapper p {
          color: #808080;
          font-size: 16px;
          line-height: 20px; }
  #overview .aboutWrapper {
    padding: 40px 40px 28px 40px;
    background-color: #fff; }
    #overview .aboutWrapper h3 {
      margin: 9px 0 19px 0;
      font-size: 20px;
      font-weight: 700; }
    #overview .aboutWrapper p {
      padding-bottom: 10px;
      line-height: 23px; }
    #overview .aboutWrapper .btn {
      margin-top: 7px;
      color: #313131;
      background-color: #ffcc00; }
      #overview .aboutWrapper .btn:hover {
        background-color: #f5c400; }
  #overview .subscribe {
    margin-top: 30px;
    padding-bottom: 52px;
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    #overview .subscribe p {
      padding-top: 45px;
      text-align: center;
      color: #8a8c8e;
      font-size: 18px;
      font-style: italic; }
    #overview .subscribe form {
      margin-top: 28px;
      text-align: center; }
      #overview .subscribe form input {
        width: 240px;
        height: 30px;
        margin-right: -2px;
        padding-left: 10px;
        vertical-align: middle;
        border: initial;
        box-shadow: 0 0 10px #ccc; }
      #overview .subscribe form button {
        height: 36px;
        padding: 0 10px;
        transition: 0.4s ease;
        vertical-align: middle;
        text-transform: uppercase;
        border: initial;
        background-color: #ffcc00;
        font-size: 14px;
        font-weight: 400; }
        #overview .subscribe form button:hover {
          background-color: #f5c400; }
  #overview .fourBlock {
    margin-top: 30px; }
    #overview .fourBlock .mainWrapp {
      height: 250px;
      margin-bottom: 30px;
      background-color: #fff; }
    #overview .fourBlock .icon {
      display: inline-block;
      width: 95px;
      height: 90px;
      margin-left: 37px;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      #overview .fourBlock .icon.icon6 {
        background-image: url("../images/icon6.png"); }
      #overview .fourBlock .icon.icon7 {
        background-image: url("../images/icon7.png"); }
      #overview .fourBlock .icon.icon8 {
        background-image: url("../images/icon8.png"); }
      #overview .fourBlock .icon.icon9 {
        background-image: url("../images/icon9.png"); }
    #overview .fourBlock .wrapper {
      display: inline-block;
      width: 75%;
      padding-left: 26px;
      vertical-align: middle; }
      #overview .fourBlock .wrapper h2 {
        margin-top: 35px;
        text-transform: initial;
        font-size: 20px; }
      #overview .fourBlock .wrapper p {
        margin-top: 26px;
        line-height: 22px; }
      #overview .fourBlock .wrapper .arrow {
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 18px;
        transition: 0.4s ease;
        background-image: url("../images/arrow.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
        #overview .fourBlock .wrapper .arrow:hover {
          border-radius: 40px;
          box-shadow: 0 0 5px #ffd11a; }

footer {
  padding-top: 53px;
  color: #fff;
  background-color: #172d37; }
  footer ul {
    padding-left: 0; }
  footer li {
    list-style-type: none; }
    footer li a {
      color: #fff; }
  footer .nav-bottom {
    padding-left: 4px;
    font-size: 16px; }
    footer .nav-bottom li {
      padding-bottom: 4px; }
  footer .soc {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 35px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain; }
    footer .soc.gplus {
      background-image: url("../images/soc-gplus.png"); }
    footer .soc.telegram {
      background-image: url("../images/soc-telegram.png"); }
    footer .soc.in {
      background-image: url("../images/soc-in.png"); }
    footer .soc.fb {
      background-image: url("../images/soc-fb.png"); }
  footer .email {
    float: right;
    padding-left: 23px; }
    footer .email .logo-bottom {
      display: inline-block;
      width: 32px;
      height: 39px;
      margin-top: 7px;
      margin-right: 22px;
      vertical-align: middle;
      background-image: url("../images/logo-footer.png");
      background-repeat: no-repeat; }
  footer .subs {
    margin-top: 24px;
    line-height: 18px; }
  footer #newsletter {
    width: 300px;
    height: 36px; }
    footer #newsletter input {
      width: 80%;
      height: 100%;
      padding-left: 15px;
      vertical-align: bottom;
      border: none; }
      footer #newsletter input::-webkit-input-placeholder {
        color: #989898; }
      footer #newsletter input::-moz-placeholder {
        color: #989898; }
      footer #newsletter input:-moz-placeholder {
        color: #989898; }
      footer #newsletter input:-ms-input-placeholder {
        color: #989898; }
      footer #newsletter input:focus::-webkit-input-placeholder {
        color: transparent; }
      footer #newsletter input:focus::-moz-placeholder {
        color: transparent; }
      footer #newsletter input:focus:-moz-placeholder {
        color: transparent; }
      footer #newsletter input:focus:-ms-input-placeholder {
        color: transparent; }
    footer #newsletter button {
      width: 12%;
      height: 100%;
      margin-left: -3px;
      padding: 0;
      cursor: pointer;
      vertical-align: middle;
      border: none;
      outline: none;
      background-image: url("../images/arrow-footer.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%; }

/*# sourceMappingURL=main.css.map */
